
@{
    ViewData["Title"] = "SavedJobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://static.topcv.vn/v4/css/components/desktop/job-save.min.d88c8255578e7d64.css">
<div id="main">
    <div class="container" id="box-save-job">
        <div class="row">
            <div class="col-md-12">
                <div class="box-white">
                    <div class="banner">
                        <div class="content">
                            <h1 class="title">Việc làm đã lưu</h1>
                            <p class="description">
                                Xem lại danh sách những việc làm mà bạn đã lưu trước đó. Ứng
                                tuyển ngay để không bỏ lỡ cơ hội
                                nghề nghiệp dành cho bạn.
                            </p>
                        </div>
                        <div class="image">
                            <img src="https://www.topcv.vn/v4/image/featured-job-list/arrow_desktop.png"
                                 alt="Việc làm từ xa (remote) background" title="Việc làm từ xa (remote) background"
                                 class="w-100">
                        </div>
                    </div>
                    <div class="empty">
                        <img src="https://www.topcv.vn/v4/image/empty.png" alt="Empty">
                        <p>Bạn chưa lưu công việc nào!</p>
                        <a href="https://www.topcv.vn/viec-lam" class="btn-seatch-job btn-primary-hover">
                            Tìm việc
                            ngay
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>